@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0; */
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Krasar",Arial, sans-serif;
  background: #f5f5f5;
  }
  
h2 {
  font-family: "Krasar";
}

textarea, input, button, table tr th, td, select, span, label {
  font-family: "Krasar-Regular";
}

.input-field {
  @apply w-full border border-gray-300 rounded p-2 focus:outline-none focus:ring focus:ring-blue-300;
}

.input-global {
  @apply block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-[#1B3351] sm:text-sm/6 ;
}

.dropdown-global {
  @apply w-full p-1 outline-none cursor-pointer sm:text-sm border shadow-sm rounded-md bg-white;
}

.input-disable {
  @apply block w-full rounded-md px-3 py-1 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-[#1B3351] sm:text-sm/6 bg-gray-100 ;
}

.th-global {
  @apply resize-bar absolute right-0 top-0 h-full w-2 cursor-col-resize bg-white opacity-0 group-hover:opacity-100;
}


.fullscreen {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Krasar";
  src: url("./components/fonts/otf/Krasar-Black.otf") format("opentype");
}

@font-face {
  font-family: "Krasar-Thin";
  src: url("./components/fonts/otf/Krasar-Thin.otf") format("opentype");
}


@font-face {
  font-family: "Krasar-Regular";
  src: url("./components/fonts/otf/Krasar-Regular.otf");
}

.break-hyphen {
  display: block;
  white-space: pre;
  word-wrap: break-word;
}

.break-hyphen::before {
  content: attr(data-text);
  white-space: pre; /* CSS3 */
  word-wrap: break-word; /* IE7+ */
}

/* Optionally, you can add this to split the hyphen into a new line */
.break-hyphen {
  display: inline;
}

.break-hyphen::before {
  content: attr(data-text);
  white-space: pre;
  word-break: break-all;
  hyphens: auto;
}

/* Scrollbar Override */
table .table-custom .scroll-inner {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparentize(#ccc, 0.7);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: transparentize(#ccc, 0.5);
		box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
}

/* Table List  */

.table-resizable .resize-bar {
  cursor: col-resize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.5em;
}

.table-resizable th, .table-resizable td {
  position: relative;
}

td{
	 max-width: 0;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* End Tabl List */

/* Scrollable  */
/* scroll bar  */
*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 0.4em;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #1B3351;
}
/* End Scrollable  */

/* table map list   */
/* styles/styles.css */
.absolute-table {
  background: rebeccapurple;
  /* max-width: 300px;
  width: 100%; */
  height: 200px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .absolute-table {
    max-width: 100%;
    height: auto;
  }
}

.table-resizable .resize-bar {
  cursor: col-resize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.5em;
}
.table-resizable th, .table-resizable td {
  position: relative;
}
td {
  max-width: 0;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* end table map list  */





